##exportPattern("^[[:alpha:]]+")
export('GetSim')
export('PredTarget')
export ('PredMaxSim')
export('DoPWY')
export ('DoInteractExp')
export('DoInteractMutant')
export ('cor.test_trimmed_v0.default')
export ('errHandle')
export ('fdrCor')
export ('DMB')
export('DTR')
export('plotSim')
export('colorBar')
export('line2user')
export('plotCor')

import('fgsea')
import('ggplot2')
import('ggpubr')
import('ggrepel')
import('grid')
import('gridExtra')
import('interactions')
import('parallel')
import('readxl')
import('reshape2')
import('statar')
import('stringb')
import('stringr')
import('tictoc')
import ('rlang')
import('grDevices')
import('graphics')

importFrom(pROC, var)
importFrom(pROC, cov)
importFrom(pROC, smooth)
importFrom(stats, lm)
importFrom(stats, complete.cases)
importFrom(stats, cor)
importFrom(stats, na.omit)
importFrom(stats, p.adjust)
importFrom(stats, pnorm)
importFrom(stats, pt)
importFrom(graphics, segments)
importFrom(graphics, text)
importFrom(graphics, rect)
importFrom(graphics, par)
importFrom(grDevices, colorRampPalette)




